/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * CSS
 * -------------------------------------------------------------------------- */

@import url("./default.css");
@import url("./components.css");
@import url("./twikoo.css");

/**
 * Variables
 * -------------------------------------------------------------------------- */

:root {
  /* font family */
  --vp-font-family-base: "Roboto", "OPPO Sans", system-ui, sans-serif;
  --vp-font-family-mono: "SF Mono", var(--vp-font-family-base);
  /* only for title !!!!!! */
  --vp-font-family-title:
    "Playwrite MX", var(--vp-font-family-mono), var(--vp-font-family-base);

  /* Border Radius */
  --vp-border-radius-2: calc(var(--vp-border-radius-1) - 6px);
  --vp-border-radius-3: calc(var(--vp-border-radius-2) - 6px);
  --vp-border-radius-4: calc(var(--vp-border-radius-3) - 6px);

  /* Shadow */
  --vp-shadow:
    var(--vp-c-bg-alt) 0px 12px 25px -5px, var(--vp-c-bg-alt) 0px 7px 15px -7px;
  --vp-shadow-brand:
    var(--vp-c-brand-soft) 0px 12px 25px -5px,
    var(--vp-c-brand-soft) 0px 7px 15px -7px;

  /* Blur */
  --vp-blur: blur(5px);

  /* Mini Icon Background */
  --vp-mini-bg: var(--vp-c-bg-elv);
}

.dark {
  --vp-mini-bg: var(--vp-c-border);
}

@font-face {
  font-family: "OPPO Sans";
  src: url("/MPLUS1p-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
