.posts-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	/* ✅ 保证最小300px */
	gap: var(--vp-gap);
	margin-bottom: 24px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: var(--vp-gap);
}

.post-card {
	display: flex;
}

.diary {
	flex: 1;
	border-radius: var(--vp-border-radius-1);
	border: 1px solid var(--vp-c-divider);
	display: flex;
	flex-direction: column;
	background-color: var(--vp-c-bg);
	will-change: transform;
	box-shadow: var(--vp-shadow);
	transition: all var(--vp-transition-time);
}

.diary:hover {
	border-color: var(--vp-c-brand-1);
	box-shadow: var(--vp-shadow-brand);
}

.textPlace {
	padding: 25px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.meta {
	margin-top: auto;
	font-size: 13px;
	color: var(--vp-c-text-3);
	opacity: 0.8;
}

.title {
	color: var(--vp-c-text-1);
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	margin: 0;
	transition: all var(--vp-transition-time);
}

.diary:hover .title {
	color: var(--vp-c-brand-2);
}

.details {
	color: var(--vp-c-text-2);
	font-size: 14px;
	line-height: 20px;
	margin: 8px 0 10px 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.year {
	margin-top: 30px;
	line-height: 110px;
	font-size: 100px;
	position: relative;
	top: 30px;
	font-weight: bold;
	color: var(--vp-c-gutter);
	opacity: 0.7;
	z-index: -1;
	mask-image: linear-gradient(var(--vp-c-gutter) 20%, transparent);
	text-transform: var(--vp-title-uppercase);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.category {
	margin-right: 8px;
	color: var(--vp-c-text-1);
	background-color: var(--vp-c-border);
	padding: 2px 8px;
	border-radius: var(--vp-border-radius-1);
	font-size: 13px;
}

.tags {
	perspective: 1000px;
	border-radius: var(--vp-border-radius-1);
	transition: all var(--vp-transition-time);

	display: flex;
	flex-wrap: wrap;
	gap: var(--vp-gap);
}

.tag {
	font-family: var(--vp-use-mono);
	text-transform: var(--vp-title-uppercase);
	transition: all var(--vp-transition-time);
	padding: 12px 24px;
	color: var(--vp-c-text-1);
	background-color: var(--vp-c-bg);
	border: 1px solid var(--vp-c-divider);
	border-radius: inherit;
	box-shadow: var(--vp-shadow);
	text-decoration: none;
	font-size: 16px;
	margin: 0;
	will-change: transform;
}

span.name {
	font-weight: 600;
}

span.name,
span.count,
span.anchor {
	transition: all var(--vp-transition-time);
}

.tag:hover:not(.active) {
	border-color: var(--vp-c-brand-1);
	cursor: pointer;

	span.name,
	span.count,
	span.anchor {
		color: var(--vp-c-brand-2);
	}
}

.active {
	cursor: pointer;
	border-color: var(--vp-c-brand-1);
	box-shadow: var(--vp-shadow-brand);

	span.name,
	span.count,
	span.anchor {
		color: var(--vp-c-brand-2);
	}
}

.count {
	margin-left: 12px;
	border-radius: 100%;
	opacity: 0.7;
}

span.anchor {
	opacity: 0.4;
	margin-right: 4px;
}

div.tags,
.posts-grid {
	margin-bottom: 30px;
}
